In [5]:
def spam(eggs):
    eggs.append(1)
    print(f'Spam ham`s id : {id(ham)}')
    print(f'Spam eggs`s id1111 : {id(eggs)}')
    eggs = [2,3]
    print(f'Spam eggs`s id2222 : {id(eggs)}')
    
ham = [0]
print(f'ham의 아이디 111111 : {id(ham)}')
spam(ham)
print(f'ham의 아이디 2222222 : {id(ham)}')
print(ham)

ham의 아이디 111111 : 1945822811008
Spam ham`s id : 1945822811008
Spam eggs`s id1111 : 1945822811008
Spam eggs`s id2222 : 1945822809152
ham의 아이디 2222222 : 1945822811008
[0, 1]

In [6]:
def test(t):
    print(x)
    t=20
    print("In function : ",t)

x=10
test(x)
print("In Main",x)
print("In Main",t)

10
In function :  20
In Main 10

NameError: name 't' is not defined

In [7]:
def f():
    global s
    s = "I love London!"
    print(s)
    
s="I love Paris!"
f()
print(s)

I love London!
I love London!

In [9]:
def asterisk_test(a,b,*args):
    return a + b + sum(args)
print(asterisk_test(1,2,3,4,5,6,7))

28

In [2]:
def sum123(a,b,*args):
    return print(args)
print(sum123(1,2,3,4))

(3, 4)
None

In [1]:
def sum2(a,b,*args):
    return a + b + sum(args)
print(f"sum2(1,2,3,4,5) = {sum2(1,2,3,4,5)}")

sum2(1,2,3,4,5) = 15

In [3]:
def testKargs(**args):
    print(args)
    print(f"키 값에 해당하는 값 조회 :  {args["a"]}")
    print(f"키 값에 해당하는 값 조회 :  {args["b"]}")
    print(f"키 값에 해당하는 값 조회 :  {args["c"]}")

testKargs(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}
키 값에 해당하는 값 조회 :  1
키 값에 해당하는 값 조회 :  2
키 값에 해당하는 값 조회 :  3

In [5]:
def A(*args):
    x,y,*z = args
    print(f"z의 타입 : {type(z)}")
    return x,y,z

print(f"A(1,2)의 결과 : {A(1,2)}")
print(f"A(1,2)의 결과 : {A(1,2,3)}")
print(f"A(1,2)의 결과 : {A(1,2,3,4,5)}")

z의 타입 : <class 'list'>
A(1,2)의 결과 : (1, 2, [])
z의 타입 : <class 'list'>
A(1,2)의 결과 : (1, 2, [3])
z의 타입 : <class 'list'>
A(1,2)의 결과 : (1, 2, [3, 4, 5])