In [5]:
#마리아디비 연결 설정
import pymysql

In [23]:
#select 예제
conn = pymysql.connect(
host='127.0.0.1', 
user='root', 
password='123456',
db='pydb', 
charset='utf8')
cur = conn.cursor()
cur.execute("SELECT * FROM book")
print("ID           title               publisher             author               writer   ")
print("----------------------------------------------------------------------------------------------------")

while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    data5 = row[4]
    
    print("%5s   %15s   %15s %15s %15s \n" % (data1, data2, data3, data4, data5))
    # print(f" ID: {data1}, title: {data2}, writer: {data3}")

conn.close()

ID           title               publisher             author               writer
----------------------------------------------------------------------------------------------------

In [7]:
#insert 예제
def insert_book(data):
    conn=pymysql.connect(host='localhost',user='root',password='123456', db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
    
data=('안드로이드','한빛',650,'홍길동')
insert_book(data)

def insert_book_list(datas):
    conn=pymysql.connect(host='localhost',user='root',password='123456',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()
datas=[('안드로이드','한빛',650,'홍길동'),
 ('Oracle DB','한빛',650,'홍길동'),
 ('Spring','영딘',650,'홍길동')]
insert_book_list(datas)

In [8]:
def update_book(data):
    conn=pymysql.connect(host='localhost',user='root',password='123456',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s, pub=%s, pages=%s, author=%s where id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
    
data=('Java', '생능','700','홍길동',3)
update_book(data)

In [9]:
def delete_book(data):
    conn=pymysql.connect(host='localhost',user='root',password='123456',db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="delete from book where id=%s"
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

delete_book([39])

In [22]:
def delete_all():
    conn=pymysql.connect(host='localhost',user='root',password='123456',db='pydb', charset='utf8')
    try:
        cursor = conn.cursor()
        # SQL 문 실행
        sql = "DELETE FROM book"
        cursor.execute(sql)
        # 변경 사항 커밋
        conn.commit()
    finally:
        # 커넥션 닫기
        conn.close()
    
delete_all()